In [1]:
import pandas as pd

df_auth = pd.read_csv("auth_10k.txt")
df_auth.head()

,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586.1,C1250,C586,NTLM,Network,LogOn,Success
0,1,ANONYMOUS LOGON@C586,ANONYMOUS LOGON@C586,C586,C586,?,Network,LogOff,Success
1,1,C101$@DOM1,C101$@DOM1,C988,C988,?,Network,LogOff,Success
2,1,C1020$@DOM1,SYSTEM@C1020,C1020,C1020,Negotiate,Service,LogOn,Success
3,1,C1021$@DOM1,C1021$@DOM1,C1021,C625,Kerberos,Network,LogOn,Success
4,1,C1035$@DOM1,C1035$@DOM1,C1035,C586,Kerberos,Network,LogOn,Success